{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="chuaheader">
        <div class="header">
            <div class="lotlogonut">
                <div class="chualogohd">
                    <div class="logohd">
                        <img src="{% static '/home/images/logo2.png' %}" alt="">
                    </div>
                </div>
                <div class="chuanuthd">
                    <div class="nut">
                        <p>ÁO</p>
                    </div>
                    <div class="nut">
                        <p>QUẦN</p>
                    </div>
                    <div class="nut">
                        <p>VÁY</p>
                    </div>
                </div>
            </div>
            <div class="chuasearchicon">
                <div class="chuasearch">
                    <input class="searchhd" type="text" name="search" placeholder="Search" id="">
                </div>
                <div class="chuaicon">
                    <div class="icon">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="icon">
                        <i class="bi bi-person-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    <div id="main">
        
        <div class="slider-container">
            <div class="slide active">
                <img class="slideimg" src="{% static 'home/images/phong-nen-chup-anh-quan-ao-01.jpg' %}" alt="">
                <img src="{% static 'home/images/logo3.png' %}" class="logosd" alt="">
            </div>
            
            <div class="slide">
                <img class="slideimg" src="{% static 'home/images/sd1.jpg' %}" class="logosd" alt="">
            </div>
            
            <div class="slide">
                <img class="slideimg" src="{% static 'home/images/sd2.jpg' %}" class="logosd" alt="">
            </div>
            
            <div class="slide">
                <img class="slideimg" src="{% static 'home/images/sd3.jpg' %}" alt="">
                <img src="{% static 'home/images/logo3.png' %}" class="logosd" alt="">
            </div>
            
            <!-- Nút điều hướng -->
            <div class="prev">&#10094;</div>
            <div class="next">&#10095;</div>
            
            <!-- Chỉ báo dots -->
            <div class="dots-container">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
                <span class="dot" data-index="3"></span>
            </div>
        </div>
        <div class="gioithieu">
            <div class="gt">
                <div class="lot">
                    <h4>MIỄN PHÍ giao hàng</h4>
                    <p>FREESHIP đơn hàng từ 500K</p>
                </div>
            </div>
            <div class="gt">
                <div class="lot">
                    <h4>Thanh toán COD</h4>
                    <p>Thanh toán khi nhận hàng</p>
                </div>
            </div>
            <div class="gt">
                <div class="lot">
                    <h4>Ưu đãi khách hàng</h4>
                    <p>Nhiều ưu đãi khủng</p>
                </div>
            </div>
            <div class="gt">
                <div class="lot">
                    <h4>Đặt hàng nhanh chóng</h4>
                    <p>Linh hoạt, bảo mật</p>
                </div>
            </div>
        </div>
        <h4 class="dmsp">DANH MỤC SẢN PHẨM</h4>
        <div class="danhmucs">
                <div class="danhmuc">
                    <div class="lot">
                        <div class="img">
                            <img src="{% static 'home/images/ao.webp' %}" alt="">
                        </div>

                        <div class="noidung">
                            <p>ÁO</p>
                        </div>
                    </div>
                </div>
            <div class="danhmuc">
                <div class="lot">
                    <div class="img">
                        <img src="{% static 'home/images/quan.jpg' %}" alt="">
                    </div>

                    <div class="noidung">
                        <p>QUẦN</p>
                    </div>
                </div>
            </div>
            <div class="danhmuc">
                <div class="lot">
                    <div class="img">
                        <img src="{% static 'home/images/vay.jpg' %}" alt="">
                    </div>

                    <div class="noidung">
                        <p>VÁY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="danhsachspnnm">
            <h4 class="dmsp">CÓ THỂ BẠN SẼ THÍCH</h4>
            <div class="chuasp">
                {% for item in product_random|slice:":5" %}
                <div class="sp">
                    <a href="{% url 'product_detail' product_id=item.product.id %}" style="text-decoration: none; color: inherit;">
                        <div class="lot">
                            <div class="chuaanh">
                                <img src="{{ item.variant_image }}" alt="{{ item.product.name }}">
                            </div>
                            <div class="chuadl">
                                <p class="tensp">{{ item.product.name }}</p>
                                <div class="chuagia">
                                    <div class="giagiam">{{ item.giagiam }}</div>
                                    <div class="giagoc">{{ item.giagoc }}</div>
                                    <div class="ptg">
                                        <p>-{{ item.discount_percent|floatformat:0 }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="danhsachspnnm">
            <h4 class="dmsp">NHỮNG SẢN PHẨM NHIỀU NGƯỜI MUA</h4>
            <div class="chuasp">
                {% for item in product_random1|slice:":5" %}
                <div class="sp">
                    <a href="{% url 'product_detail' product_id=item.product.id %}" style="text-decoration: none; color: inherit;">
                        <div class="lot">
                            <div class="chuaanh">
                                <img src="{{ item.variant_image }}" alt="{{ item.product.name }}">
                            </div>
                            <div class="chuadl">
                                <p class="tensp">{{ item.product.name }}</p>
                                <div class="chuagia">
                                    <div class="giagiam">{{ item.giagiam }}</div>
                                    <div class="giagoc">{{ item.giagoc }}</div>
                                    <div class="ptg">
                                        <p>-{{ item.discount_percent|floatformat:0 }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="banner">
            <div class="lot">
                <div class="bn">
                    <img src="{% static 'home/images/download.jpg' %}" alt="">
                    <img class="logobn" src="{% static 'home/images/logo3.png' %}" alt="">
                    <p class="dau">Daily</p>
                    <br>
                    <p class="cuoi">Deals</p>
                </div>
                <div class="bn">
                    <img src="{% static 'home/images/pngtree-a-colorful-flower-wallpaper-that-says-blue-and-pink-blossoms-charming-image_16292891.jpg' %}" alt="">
                    <img class="logobn" src="{% static 'home/images/logo3.png' %}" alt="">
                    <p class="dau1">Style</p>
                    <br>
                    <p class="cuoi1">Spectrum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="danhsachspnnm">
        <h4 class="dmsp">ÁO</h4>
        <div class="chuasp">
            {% for item in product_ao|slice:":5" %}
            <div class="sp">
                <a href="{% url 'product_detail' product_id=item.product.id %}" style="text-decoration: none; color: inherit;">
                    <div class="lot">
                        <div class="chuaanh">
                            <img src="{{ item.variant_image }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="chuadl">
                            <p class="tensp">{{ item.product.name }}</p>
                            <div class="chuagia">
                                <div class="giagiam">{{ item.giagiam }}</div>
                                <div class="giagoc">{{ item.giagoc }}</div>
                                <div class="ptg">
                                    <p>-{{ item.discount_percent|floatformat:0 }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="danhsachspnnm">
        <h4 class="dmsp">QUẦN</h4>
        <div class="chuasp">
            {% for item in product_quan|slice:":5" %}
            <div class="sp">
                <a href="{% url 'product_detail' product_id=item.product.id %}" style="text-decoration: none; color: inherit;">
                    <div class="lot">
                        <div class="chuaanh">
                            <img src="{{ item.variant_image }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="chuadl">
                            <p class="tensp">{{ item.product.name }}</p>
                            <div class="chuagia">
                                <div class="giagiam">{{ item.giagiam }}</div>
                                <div class="giagoc">{{ item.giagoc }}</div>
                                <div class="ptg">
                                    <p>-{{ item.discount_percent|floatformat:0 }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="danhsachspnnm">
        <h4 class="dmsp">VÁY</h4>
        <div class="chuasp">
            {% for item in product_vay|slice:":5" %}
            <div class="sp">
                <a href="{% url 'product_detail' product_id=item.product.id %}" style="text-decoration: none; color: inherit;">
                    <div class="lot">
                        <div class="chuaanh">
                            <img src="{{ item.variant_image }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="chuadl">
                            <p class="tensp">{{ item.product.name }}</p>
                            <div class="chuagia">
                                <div class="giagiam">{{ item.giagiam }}</div>
                                <div class="giagoc">{{ item.giagoc }}</div>
                                <div class="ptg">
                                    <p>-{{ item.discount_percent|floatformat:0 }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'home/js/home.js' %}"></script>
    {% endblock %}
    <div class="ganfooter">
        <img src="{% static 'home/images/background-quan-ao-nu-cuc-dep_044601914.png' %}" alt="">
    </div>
    <div class="ganfooter">
        <img src="{% static 'home/images/background-quan-ao-vintage_044605910.jpg' %}" alt="">
    </div>
    <div class="ganfooter1">
        <div class="lot">
            <div class="gft">
                <div class="lot">
                    <img src="{% static 'home/images/logo2.png' %}" alt="">
                </div>
            </div>
            <div class="gft">
                <div class="lot">
                    <p class="tieude">
                        Beee - Định Nghĩa Phong Cách Của Phái Đẹp
                    </p>
                    <p>
                        Beee tự hào là điểm đến lý tưởng cho những người phụ nữ hiện đại đang tìm kiếm phong cách thời trang độc đáo và đẳng cấp. Với sứ mệnh tôn vinh vẻ đẹp và cá tính của từng khách hàng, chúng tôi mang đến những bộ sưu tập thời trang đa dạng, từ trang phục công sở thanh lịch đến những set đồ dạo phố trẻ trung, năng động.
Đến với Beee, quý khách không chỉ được trải nghiệm những thiết kế thời thượng, chất liệu cao cấp mà còn nhận được sự tư vấn tận tâm để tìm ra phong cách phù hợp nhất với cá tính riêng. Chúng tôi tin rằng: "Mỗi người phụ nữ đều xứng đáng tỏa sáng theo cách riêng của mình."
Beee - Nơi phong cách được định nghĩa và vẻ đẹp được tôn vinh.
Bạn thấy bài giới thiệu này thế nào? Tôi có thể điều chỉnh để phù hợp hơn với định hướng của shop của bạn.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="lot">
            <div class="ft">
                <div class="lot">
                    <h4>Beee</h4>
                    <div class="chuamotaft">
                        <p class="gtft">Beee là thiên đường thời trang dành cho phái đẹp, nơi hội tụ những bộ sưu tập độc đáo và tinh tế. Với đa dạng các thiết kế từ công sở thanh lịch đến dạo phố trẻ trung, chúng tôi cam kết mang đến những sản phẩm chất lượng cao cấp, giúp phụ nữ tự tin tỏa sáng trong mọi khoảnh khắc của cuộc sống.</p>
                    </div>
                    
                    <div class="chuaicon">
                        <svg onclick="window.location.href='https://www.facebook.com/thanhloc.le.5473/'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                            <!-- Base with gradient -->
                            <defs>
                              <linearGradient id="fb-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" style="stop-color:#18ADFF"/>
                                <stop offset="100%" style="stop-color:#0063E1"/>
                              </linearGradient>
                            </defs>
                            
                            <!-- Main rounded rectangle with shadow -->
                            <rect x="2" y="2" width="44" height="44" rx="8" fill="url(#fb-gradient)"/>
                            <rect x="4" y="4" width="40" height="40" rx="6" fill="url(#fb-gradient)"/>
                            
                            <!-- Facebook logo with more detailed path -->
                            <path d="M33.5 25h-6.25v14c0 0.552-0.448 1-1 1h-5c-0.552 0-1-0.448-1-1V25h-4c-0.552 0-1-0.448-1-1v-4.5c0-0.552 0.448-1 1-1h4v-3.75c0-4.77 2.925-7.375 7.175-7.375 1.438 0 2.675 0.105 3.775 0.315 0.5 0.096 0.8 0.535 0.8 1.042v4.5c0 0.552-0.448 1-1 1h-2.66c-2.32 0-2.775 1.102-2.775 2.724v2.544h5.54c0.598 0 1.055 0.525 0.977 1.117l-0.54 4.5c-0.066 0.51-0.496 0.883-1.007 0.883z" fill="white"/>
                            
                            <!-- Highlight and shadow effects -->
                            <path d="M26.25 25v14c0 0.552-0.448 1-1 1h-5c-0.552 0-1-0.448-1-1V25h-4c-0.552 0-1-0.448-1-1v-4.5c0-0.552 0.448-1 1-1h4v-3.75c0-4.77 2.925-7.375 7.175-7.375 0.359 0 0.697 0.006 1.018 0.02" fill-opacity="0.15" fill="white"/>
                          </svg>
                          <svg onclick="window.location.href='https://www.youtube.com/@lethanhloc8371'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                            <!-- Definitions for gradients and effects -->
                            <defs>
                              <linearGradient id="yt-red-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" style="stop-color:#FF5252"/>
                                <stop offset="100%" style="stop-color:#D32F2F"/>
                              </linearGradient>
                              <filter id="yt-shadow" x="-10%" y="-10%" width="120%" height="120%">
                                <feDropShadow dx="0" dy="1" stdDeviation="0.5" flood-opacity="0.3"/>
                              </filter>
                            </defs>
                            
                            <!-- Background shape -->
                            <rect width="48" height="48" rx="12" fill="#FFFFFF"/>
                            
                            <!-- YouTube Play Button Shape -->
                            <rect x="4" y="10" width="40" height="28" rx="8" fill="url(#yt-red-gradient)" filter="url(#yt-shadow)"/>
                            
                            <!-- Play Button Triangle -->
                            <path d="M32 24L19 32V16L32 24Z" fill="white" filter="url(#yt-shadow)"/>
                            
                            <!-- Highlight effects -->
                            <path d="M4 18C4 13.582 7.582 10 12 10H36C40.418 10 44 13.582 44 18V19C44 14.582 40.418 11 36 11H12C7.582 11 4 14.582 4 19V18Z" fill="white" fill-opacity="0.3"/>
                            
                            <!-- Bottom shadow -->
                            <path d="M4 30C4 34.418 7.582 38 12 38H36C40.418 38 44 34.418 44 30V29C44 33.418 40.418 37 36 37H12C7.582 37 4 33.418 4 29V30Z" fill="black" fill-opacity="0.1"/>
                          </svg>
                          <svg onclick="window.location.href='https://www.tiktok.com/@lethanhloc2004261?lang=vi-VN'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                            <!-- Black background -->
                            <rect width="48" height="48" rx="8" fill="#000000"/>
                            
                            <!-- Ultra simplified TikTok logo in white -->
                            <path d="M32 16c-1.5 0-3-1-4-2v-2h-7v22c0 2.2-1.8 4-4 4s-4-1.8-4-4 1.8-4 4-4c.5 0 1 .1 1.5.3v-5.5c-5 .5-9 4.8-9 9.9 0 5.5 4.5 10 10 10s10-4.5 10-10V22c2 1 4 1.5 6 1.5v-7c-1.7 0-3.5-.5-3.5-.5z" fill="white"/>
                          </svg>
                    </div>
                </div>
            </div>
            <div class="ft">
                <div class="lot">
                    <h4>GIỚI THIỆU</h4>
                    <div class="chuamotaft">
                        <p class="gtv">Về Beee</p>
                        <p class="gtv">Liên hệ</p>
                        <p class="gtv">Tin tức</p>
                    </div>
                </div>
            </div>
            <div class="ft">
                <div class="lot">
                    <h4 class="csbh">CHÍNH SÁCH BÁN HÀNG</h4>
                    <div class="chuamotaft">
                        <p class="gtv">CHÍNH SÁCH ĐỔI TRẢ</p>
                        <p class="gtv">CHÍNH SÁCH VẬN CHUYỂN</p>
                        <p class="gtv">CHÍNH SÁCH BẢO MẬT</p>
                    </div>
                </div>
            </div>
            <div class="ft">
                <div class="lot">
                    <h4>THÔNG TIN LIÊN HỆ</h4>
                    <div class="chuamotaft">
                        <p class="gtv">TÊN: LÊ THÀNH LỘC</p>
                        <div class="chuadcft"><p class="dcft">ĐỊA CHỈ: </p>
                            <p class="dc">
                                25/5 Phước Thới, Ô môn, Cần thơ
                            </p>
                        </div>
                        <p class="gtv">SDT: 0782910034</p>
                        <div class="chuadcft">
                            <p class="dcft">EMAIL: </p>
                            <p class="dc">lethanhloc2612004@gmail.com</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>